body {-webkit-user-select: none;  background:#3c3c3c; margin:0 0 0 0; font-family: 'Microsoft YaHei';}
.box {border: 0px solid red; }
.container { overflow-y: none;}


.selection {float: left; width:1200px; min-width:1200px; height: 100%; }
.selection .navigate { width:100%; height: 460px; min-height:460px; }
.ocean1 { background:radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, #15b5db 90%);}
.ocean2 { background:radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 8%, #35b5db 95%);}

.selection .navigate .course-list {float:left; width:170px; height: 100%; margin-top:0px; margin-left:0px;/*background-color: #f2f2f2;*/}
.selection .navigate .course-list ul {list-style-type: none; margin: 0px; padding: 0px; }
.selection .navigate .course-list ul li { font-size: 16px; line-height: 60px; height: 60px; text-align: center; }
.selection .navigate .course-list ul li.history { color:white; font-weight: bold;}

.selection .navigate .course-list ul li:hover  {background-color: #becdd1;}
.selection .navigate .course-list ul li a{text-decoration:none; color:black;}

.selection .navigate .rolling-area {float:left;width:630px;  height: 100%;}

.course-selected {border: 2px solid #000; background-color: #f2f2f2; !important;}

/*box-shadow: 7px 7px 3px #453e3e;*/
.selection .navigate  .details {float:left; width:400px;  height: 100%; }
.selection .navigate  .details  .desc {width:100%; height: 100%; margin: 0 0 0 0; overflow-y: scroll;  }
.selection .navigate  .details  .desc  div {font-size: 14px; width:97%;  padding:6 5 6 5;}
.selection .navigate  .details  .desc  div:hover {background-color:#474545; color:#eae4df}
.selection .navigate  .details  .desc  div a {display:inline-block; padding:4 6 2 6;height: 26px; text-decoration: none; color:eae4df;border: 2px solid #eae4df;}
.course_startBtn {display:inline-block; padding:4 6 2 6;height: 26px; text-decoration: none; color:green; border: 2px solid #eae4df;}


.modal{width: 100%; position:fixed; top: 0; bottom: 0;left: 0;right: 0; z-index: 999; background-color: rgba(0,0,0,0.6);background-size: 100%; }
.modal p {color:white; font-size:22px; text-align: center; margin: auto; line-height:600px;}


#porgressControl {width:1226px; height:10;background: #0f0; border: 2px solid black;}
#porgressBar {width:1226px; height:10;background: red;}

#rollingCanvas a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#fff; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#rollingCanvas a:hover {border: 1px solid #eee; background: #000; }
.rollingChilds-msprog {border: 2px solid #000; background: #702d3f;}
.rollingChilds-hsprog {border: 2px solid #000; background: #702d3f;}
.rollingChilds-cweb {border: 2px solid #000; background: #702d3f;}
.rollingChilds-sweb {border: 2px solid #000; background: #335230;}
.rollingChilds-java {border: 2px solid #000; background: #714eaf;}
.rollingChilds-mysql {border: 2px solid #000; background: #78753a;}
.rollingChilds-other {border: 2px solid #000; background: #1a1c4b;}

